:root {
  --temp: 24;
  --delta: 40;
  --base: 0;
  --turn: calc(((var(--temp) - var(--base)) * 1turn / var(--delta)) - 0.5turn);
  --outer: 356px;
  --outerhue: 235;
  --inner: 280px;
  --center: 250px;
  --converter: 480px;
  --dial-angle: calc(
    ((var(--temp) - var(--base)) * 360deg / var(--delta)) - 270deg
  );
  --animspeed: 300ms;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
#root {
  display: grid;
  justify-content: center;
  align-items: center;
}

.App {
  font-family: "Inter", sans-serif;
  display: grid;
  justify-items: center;
  gap: 1.5rem;
}

.switch {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: bold;
  width: fit-content;
  background-color: white;
  border: 2px solid black;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.converter {
  width: var(--converter);
  height: var(--converter);
  position: relative;
}

.dot,
.temp,
.outer,
.inner,
.center,
.hand,
.dial {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.outer {
  background: conic-gradient(
    from 0.25turn,
    hsl(var(--outerhue), 87.5%, 93.73%),
    hsl(var(--outerhue), 84.42%, 84.9%)
  );
  width: var(--outer);
  height: var(--outer);
  border-radius: calc(var(--outer) / 2);
  position: absolute;
  transform: rotate(var(--dial-angle));
}

.anim {
  transition: transform var(--animspeed);
}

.inner {
  /*background: conic-gradient(
    from 0.5turn,
    #7e0481,
    #0009ff,
    #7e0481,
    #ff0000,
    #7e0481
  );*/

  background: conic-gradient(from 0.5turn, #0099ff, #7e0481, #ff0000);
  width: var(--inner);
  height: var(--inner);
  border-radius: calc(var(--inner) / 2);
}

.center {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: var(--center);
  height: var(--center);
  border-radius: calc(var(--center) / 2);
}

.hand {
  width: 354px;
  height: 28px;
  background-color: transparent;
  transform: rotate(var(--dial-angle));
}

.dial {
  width: 28px;
  height: 28px;
  border: 6px solid black;
  border-radius: 14px;
  background-color: hsl(var(--outerhue), 87.5%, 93.73%);
  position: absolute;
  right: -14px;
  left: auto;

  /*transform: translateX(calc(var(--radius) * cos(var(--dial-angle))))
    translateY(calc(var(--radius) * sin(var(--dial-angle))));*/
}

.tempInput {
  font-size: 65px;
  font-weight: bold;
}

.tempInput input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border-width: 0;
  border-bottom: 2px dotted black;
  text-align: right;
  width: 3.5ch;
}
.dot {
  --rank: 0;
  --angle: calc(22.5deg * var(--rank));
  --radius: 200px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: black;
  transform: translateX(calc(var(--radius) * cos(var(--angle))))
    translateY(calc(var(--radius) * sin(var(--angle))));
}
.dot0 {
  --rank: 0;
}
.dot1 {
  --rank: 1;
}
.dot2 {
  --rank: 2;
}
.dot3 {
  --rank: 3;
}
.dot4 {
  --rank: 4;
}
.dot5 {
  --rank: 5;
}
.dot6 {
  --rank: 6;
}
.dot7 {
  --rank: 7;
}
.dot8 {
  --rank: 8;
}
.dot9 {
  --rank: 9;
}
.dot10 {
  --rank: 10;
}
.dot11 {
  --rank: 11;
}
.dot12 {
  --rank: 12;
}
.dot13 {
  --rank: 13;
}
.dot14 {
  --rank: 14;
}
.dot15 {
  --rank: 15;
}
.temp {
  --angle: 0deg;
  --radius: 240px;
  font-size: 16px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  transform: translateX(calc(var(--radius) * cos(var(--angle))))
    translateY(calc(var(--radius) * sin(var(--angle))));
}
.zeroquarter {
  --angle: 90deg;
}
.onequarter {
  --angle: 180deg;
}
.twoquarter {
  --angle: 270deg;
}
.threequarter {
  --angle: 0deg;
}
